html {
    font-size: 100px; height: 100%;
  }
  
  body {
    font-size: 0.24rem;
    text-align: left;
    height: 100%;
    tap-highlight-color: rgba(143,142,148,0); focus-ring-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(143,142,148,0); -webkit-focus-ring-color: rgba(0, 0, 0, 0); 
  }
  html,
  body,
  p {
    margin: 0;
    padding: 0;
    color: #79d1d5;
  }
  
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: inherit;
  }
  
  @media only screen and (min-width:640px) {
    html,
    body {
      width: 640px;
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width:639px) {
    html,
    body {
      width: 100%;
    }
  }
  
  img {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  
  h1,
  h2 {
    font-weight: normal;
  }
  
  ul,
  li {
    list-style-type: none;
    padding: 0;
  }
  
  a, .green {
    color: #42b983;
  }
  
  select, input, button {
    outline: none; font-size: 0.3rem;
  }
  
  .relative {
    position: relative;
  }
  
  .mleft5 {
    margin-left: 0.05rem;
  }
  
  .mleft10 {
    margin-left: 0.1rem;
  }
  
  .mleft15 {
    margin-left: 0.15rem !important;
  }
  
  .mleft20 {
    margin-left: 0.2rem !important;
  }
  
  .minuleft20 {
    margin-left: -0.2rem !important;
  }
  
  .mb0 {
    margin-bottom: 0 !important;
  }
  
  .mb10 {
    margin-bottom: 10px !important;
  }
  
  .mtop5 {
    margin-top: 5px !important;
  }
  
  .mtop10 {
    margin-top: 10px !important;
  }
  .mtop20 {
    margin-top: 20px !important;
  }
  
  .center {
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .f16 {
    font-size: 0.16rem;
  }
  
  .f18 {
    font-size: 0.18rem;
  }
  
  .f20 {
    font-size: 0.2rem;
  }
  
  .f22 {
    font-size: 0.22rem;
  }
  
  .f24 {
    font-size: 0.24rem;
  }
  
  .f26 {
    font-size: 0.26rem;
  }
  
  .f30 {
    font-size: 0.30rem;
  }
  
  .grey {
    color: #a3a4a6;
  }
  .bold{ font-weight: bold;}
  
  .w20 {
    width: 20px;
  }
  .w54 {
    width: 0.54rem;
  }
  
  .w80 {
    width: 0.8rem;
  }

  .wp100{ width: 100%;}
  .heightp100{ height: 100%;}
  
  .displaybox {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .displayflex {
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }

  .flex-column{
    flex-direction: column;
  }

  .flex-start{
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .flex-center{
    -webkit-align-items: center;
    align-items: center;
  }

  .flex-end{
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
  
  .boxflex01 {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: block;
  }
  
  .boxalign {
    -webkit-box-align: center !important;
    box-align: center !important;
    -webkit-align-items: center !important;
    align-items: center !important
  }
  
  .boxalignstart {
    -webkit-box-align: start !important;
    box-align: start !important;
    -webkit-align-items: flex-start !important;
    align-items: flex-start !important
  }
  
  .boxalignend {
    -webkit-box-align: end !important;
    box-align: end !important;
    -webkit-align-items: flex-end !important;
    align-items: flex-end !important
  }
  
  .label_name {
    display: block;
    min-width: 1.3rem;
    text-align: justify;
    text-align-last: justify;
    font-size: 0.26rem;
  }
  
  .input_normal {
    border: 1px solid #dadada;
    border-radius: 0.02rem;
    text-indent: 0.5em;
    height: 0.6rem;
    line-height: 0.6rem;
  }
  
  .head_img {
    width: 0.7rem;
    height: 0.7rem;
  }
  .head_img img{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 1rem;
  }

  .form_list{ min-height: calc(260*100vh/640); padding-bottom: 0.15rem; }
  .message{ font-size: 0.24rem !important; padding: 0 0.1rem;}
  .underline{ text-decoration: underline;}
    
  .mask{ width: 100%; height: 100%; background: rgba(0, 0, 0, 0.95); position: absolute; z-index: 999;}
  .mask img{ width: 100%;}

  .message{ width: 3.6rem !important; height: 0.8rem !important;}

  /* 导读课 */
  .list-img{ width: 80px; height: 120px;}
  .user-avatar{ width: 40px; height: 40px;}
  .red-btn{ height: 32px; padding: 0 10px; line-height: 32px; background: #c5393c; color: #fff; border-radius: 50px; text-align: center;}
  .padding20{ padding: 20px;}
  .border-top{ border-top: 1px solid #eeeeee}
  .border-bottom{ border-bottom: 1px solid #eeeeee}
  .p510{ padding: 5px 10px;}
  .pt10{ padding-top: 10px;}
  .pt20{ padding-top: 20px;}
  .pb20{ padding-bottom: 20px;}
  .ptb10{ padding: 10px 0;}
  .ptb20{ padding: 20px 0;}
  .p10{ padding: 10px;}
  .p20{ padding: 20px;}
  .m010{ margin: 0 10px;}
  .m020{ margin: 0 20px;}
  
  
  .mright10 {
    margin-right: 10px !important;
  }
  
  .mright20 {
    margin-right: 20px !important;
  }

  .align-middle{ position: relative; top: 50%; left: 50%; transform:translate(-50%,-50%);  -webkit-transform:translate(-50%,-50%);}

  .loading-box{
    width: 120px;
    height: 120px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
  }
  .loading-icon{
    width: 20px;
    height: 20px;
    margin: 0px auto 5px;
    margin-top: 42px;
  }

  .inline-block{ display: inline-block}